 /* Heranca 

 1 - Sobreposicao /sobrescreve

 2- Aplica a ultima regra

 3 - prioriza regras especificas(com seletores mais proximos) */


 html{
font-family: sans-serif;
color: #00f;

}

article{
  color: #f22;
}

header p {
   color:#fff;
   font-size: 1.5rem;
}


/* combinadores

- (espaço)seletor descent
- (>)combinador de seletores filhos
-(+) combinaddor de elementos irmãos adjacentes/ que vem logo em sequencia
- (~) combinador  de lementos irmaos geral / Apos elemento de referencia


*/

header h2 {
  font-weight: 100;
}

header > h2{
  font-weight: 600;
}
div ~ p {
  text-transform: uppercase;
}

h2 ~ h5 {
  font-size: 1.2rem;
}

/* pseudo-elementos :*/

a {
  color: #5555;
  text-decoration: none;
}

a:hover{
  color: #f22;
  text-decoration: underline;
}
a:visited{
  background: chocolate;  

}
a:active{
  color: aquamarine;
  background: #eee;
}